/* GENERAL */
/*---------------------------------------*/
html {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 70px;
}

/* HEADER */
/*---------------------------------------*/
#jumbotron {
	color: white;
	padding: 17% 0;
	text-align: center;
}

#jumbotron h2 {
	font-size: 20px;
}

#parallax {
    background-image: url("../images/bck.png");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* CARDS */
/*---------------------------------------*/
#infoCards {
	text-align: center;
}

.singleCard {
	color: #37474f;
	background-color: white;
	width: 400px;
	padding: 30px;
	margin: 30px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
}

.singleCard h3 {
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
}

.singleCard:hover {
	color: #102027;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}

/* RESULTS */
/*---------------------------------------*/
#results {
	color: #37474f;
	background-color: white; 
	text-align: center;
	padding: 40px 0;
	margin: 30px 20px 50px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#graph1 {
	width: 450px;
	height: 450px;
	background-color: pink;
	position: relative;
}

#graphTitle {
	width: 100%;
	height: 10%;
	background-color: white;
	padding: 5% 0;
}

#yAxis {
	line-height: 295%;
	width: 10%;
	height: 90%;
	background-color: white;
	position: absolute;
	left: 0;
	top: 10%;
}

#xAxis1 {
	width: 45%;
	height: 10%;
	text-align: center;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
}

#xAxis2 {
	width: 45%;
	height: 10%;
	text-align: center;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 10%;
}

#graphBoard {
	width: 90%;
	height: 80%;
	background-color: white;
	position: absolute;
	left: 10%;
	bottom: 10%;
}

#bar1 {
	width: 15%;
	height: 50%;
	background-color: gray;
	position: absolute;
	left: 10%;
	bottom: 0;
}

#bar2 {
	width: 15%;
	height: 30%;
	background-color: black;
	position: absolute;
	left: 25%;
	bottom: 0;
}

#bar3 {
	width: 15%;
	height: 80%;
	background-color: green;
	position: absolute;
	left: 60%;
	bottom: 0;
}

#bar4 {
	width: 15%;
	height: 20%;
	background-color: yellow;
	position: absolute;
	left: 75%;
	bottom: 0;
}

#graph2 {
	width: 450px;
	height: 450px;
	background-color: pink;
	position: relative;
}

.graphContainer {
	display: inline-flex;
	margin: 5%;
	border: solid 2px black;
}

#swap {
	text-align: center;
}
