/* GENERAL */
/*---------------------------------------*/
html {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 70px;
}

/* HEADER */
/*---------------------------------------*/
#jumbotron {
	color: white;
	padding: 17% 0;
	text-align: center;
}

#jumbotron h2 {
	font-size: 20px;
}

#parallax {
    background-image: url("../images/bck.png");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* CARDS */
/*---------------------------------------*/
#infoCards {
	text-align: center;
}

#singleCard {
	color: black;
	width: 400px;
	padding: 30px;
	margin: 30px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
}

#singleCard h3 {
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
}

#singleCard:hover {
	color: #e91e63;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}

/* RESULTS */
/*---------------------------------------*/
#results {
	text-align: center;
	padding: 40px 0;
	margin: 0 20px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#graph1 {
	width: 500px;
	height: 500px;
	background-color: pink;
	margin: 20px 100px;
	position: relative;
}

#yAxis {
	width: 10%;
	height: 100%;
	background-color: red;
	position: absolute;
	left: 0;
}

#xAxis {
	width: 100%;
	height: 10%;
	background-color: blue;
	position: absolute;
	bottom: 0;
}

#bar1 {
	width: 10%;
	height: 40%;
	background-color: green;
	position: absolute;
	left: 30%;
	bottom: 0;
}

#bar2 {
	width: 10%;
	height: 60%;
	background-color: yellow;
	position: absolute;
	left: 40%;
	bottom: 0;
}

#bar3 {
	width: 10%;
	height: 40%;
	background-color: gray;
	position: absolute;
	left: 70%;
	bottom: 0;
}

#bar4 {
	width: 10%;
	height: 60%;
	background-color: white;
	position: absolute;
	left: 80%;
	bottom: 0;
}

#graph2 {
	width: 500px;
	height: 500px;
	background-color: pink;
	margin: 20px 100px;
	position: relative;
	left: 100%;
}








#hContainer {
	color: white;
	background-color: pink;
	width: 300px;
	height: 300px;
	padding: 30px;
	margin: 70px;
	border-radius: 10px;
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg); /* Standard syntax */
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#insideH {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	position: relative;
	bottom: 80px;
	left: 30px;
	min-width: 1000px;
	min-height: 100px;
	background-color: black;
	padding: 30px;
	border-radius: 10px;

	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg); /* Standard syntax */
}

