html {
	font-family: 'Roboto', sans-serif;
}

#jumbotron {
	color: black;
	padding: 17% 0;
	text-align: center;
}

#jumbotron h1 {
	font-size: 70px;
}

#jumbotron h2 {
	font-size: 20px;
}

#parallax {
    background-image: url("../images/bck.png");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#infoCards {
	text-align: center;
}

#singleCard {
	color: black;
	width: 400px;
	padding: 30px;
	margin: 40px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: inline-block;
}

#singleCard h3 {
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
}

#singleCard:hover {
	color: #e91e63;
	cursor: pointer;
}
